@charset 'utf-8';

* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 8px;
}

body > div {
  border: 1px solid #000;
}

div[contenteditable="true"] {
  height: 30%;
  overflow: scroll;
  padding: 4px 8px;
}

.debug {
  display: flex;
  height: 70%;
}

.debug div {
  border: 1px solid #000;
  overflow: scroll;
  width: 100%;
}
